.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    justify-content: center;
    height: 100vh;
}

.Landing img {
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.LandigTitle {
    font-size: 50px;
    margin-top: 20px;
}

.Landing p {
    margin-top: 15px;
}

.Landing button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #ffd100;
}

.CreateGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.CreateGroup p {
    font-size: 40px;
    margin-bottom: 50px;
}

.CreateGroup img {
    position: absolute; /* 절대 위치 */
    top: 20px; /* 상단에 맞춤 */
    left: 20px; /* 왼쪽에 맞춤 */
    width: 100px;
    height: auto;
}

.CreateGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 전체 뷰포트 높이 */
}
